// 颜色定义规范
$color-background: #faf1f1;
$color-background-d: rgba(255, 241, 241, .3);
$color-highlight-background: #add1e2;
$color-dialog-background: #666;
$color-theme: #add1e2;
$color-theme-d: #799fb1;
$color-sub-theme: #d93f30;
$color-text: #666;
$color-text-d: rgba(182, 182, 182, .8);
$color-text-l: #bebebe;
$color-text-ll: rgba(255, 255, 255, .8);
$color-text-w: #fff;

// 字体定义规范 d
$font-size-small-s: 10px;
$font-size-small: 12px;
$font-size-small: 12px;
$font-size-medium: 14px;
$font-size-medium-x: 16px;
$font-size-large: 18px;
$font-size-large-x: 22px;
